<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <!-- build:css({.tmp,app}) styles/main.css -->
        <link rel="stylesheet" href="styles/main.css">
        <!-- endbuild -->
</head>
  <body ng-app="cartApp">
    <!--[if lt IE 7]>
      <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
    <![endif]-->

    <!--[if lt IE 9]>
      <script src="bower_components/es5-shim/es5-shim.js"></script>
      <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->
    <div ng-controller="CartCtrl">
        <header>
            <div class="navbar navbar-fixed-top">
                <div class="navbar-inner">
                    <div class="container">
                        <a class="brand" href="#">cartapp</a>
                        <form class="navbar-form pull-left">
                            <input type="search" ng-model="searchText.name" placeholder="looking for...">
                        </form>
                        <div class="pull-right">
                            <div class="btn-group">
                                <a class="btn dropdown-toggle" href="" data-toggle="dropdown">
                                    <i class="icon-shopping-cart"></i> ({{ cart.count }})
                                    <span class="caret"></span>
                                </a>
                                <div id="nav-cart" class="dropdown-menu pull-right">
                                    <div ng-show="cart.count > 0">
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th>Item</th>
                                                    <th>Quantity</th>
                                                    <th>Price</th>
                                                    <th>Total</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="item in cart.items">
                                                    <td>
                                                        <img ng-src="{{ item.image }}" width="64">
                                                    </td>
                                                    <td>
                                                        {{ item.quantity }}
                                                        <button class="btn btn-success" ng-click="addToCart(item)">+1</button>
                                                        <button class="btn btn-danger" ng-click="removeFromCart(item)">-1</button>
                                                    </td>
                                                    <td>{{ item.price | currency }}</td>
                                                    <td>{{ item.quantity * item.price | currency }}</td>
                                                </tr>
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <td colspan="3">Total</td>
                                                    <td>{{ cart.total | currency }}</td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                        <hr>
                                        <button class="btn btn-block btn-success" ng-click="checkout(cart.items)">Checkout</button>
                                    </div>
                                    <div class="alert alert-danger" ng-hide="cart.count > 0">
                                        <span>Your cart is empty!</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                  </div>
                </div>
            </div>
        </header>

        <!-- Add your site or application content here -->
        <div class="container" ng-view=""></div>
    </div>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
      var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src='//www.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>

    <script src="bower_components/angular/angular.js"></script>

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <!-- endbuild -->

        <!-- build:js scripts/plugins.js -->
        <script src="bower_components/jquery/jquery.js"></script>
        <script src="bower_components/bootstrap-sass/js/bootstrap-affix.js"></script>
        <script src="bower_components/bootstrap-sass/js/bootstrap-alert.js"></script>
        <script src="bower_components/bootstrap-sass/js/bootstrap-dropdown.js"></script>
        <script src="bower_components/bootstrap-sass/js/bootstrap-tooltip.js"></script>
        <script src="bower_components/bootstrap-sass/js/bootstrap-modal.js"></script>
        <script src="bower_components/bootstrap-sass/js/bootstrap-transition.js"></script>
        <script src="bower_components/bootstrap-sass/js/bootstrap-button.js"></script>
        <script src="bower_components/bootstrap-sass/js/bootstrap-popover.js"></script>
        <script src="bower_components/bootstrap-sass/js/bootstrap-typeahead.js"></script>
        <script src="bower_components/bootstrap-sass/js/bootstrap-carousel.js"></script>
        <script src="bower_components/bootstrap-sass/js/bootstrap-scrollspy.js"></script>
        <script src="bower_components/bootstrap-sass/js/bootstrap-collapse.js"></script>
        <script src="bower_components/bootstrap-sass/js/bootstrap-tab.js"></script>
        <!-- endbuild -->

        <!-- build:js scripts/modules.js -->
        <script src="bower_components/angular-resource/angular-resource.js"></script>
        <script src="bower_components/angular-cookies/angular-cookies.js"></script>
        <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
        <script src="scripts/services/multiitemloader.js"></script>
        <script src="scripts/services/item.js"></script>
        <script src="scripts/controllers/cart.js"></script>
        <script src="scripts/services/cart.js"></script>
        <!-- endbuild -->
        <script>
            $('.dropdown-menu').click(function(e) {
                e.stopPropagation();
            });
        </script>
</body>
</html>
